*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    min-height: 100vh;
    max-height: max-content;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    display: flex; 
    width: 80%;
    min-height: 500px;
    gap: 30px;
    max-height: max-content;
    box-shadow: 0 0 10px 0 gray;
    border-radius: 30px;
    
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
table{
    


}

#header{
    color: white;
    width: 100%;
    height: max-content;
    
    
    
}

#header > tr{
    background-color: rgb(74, 74, 255);
    
    
   
    
}
.head:nth-of-type(1){
    border-top-left-radius: 30px;
}
.head:nth-of-type(5){
    border-top-right-radius: 30px;
}
.head{
    width: max-content;
    
    padding: 0 2rem 0 2rem;
    font-size: 1.3rem;
   
    height: 60px;
    
}
#content{
   box-shadow: 0 0 15px gray;
}



.cont{
    width: max-content;
    font-size: 0.9rem;
    height: 10px;
    padding: 20px;
    
    box-shadow: 0px 1px 1px 0px gray;
}
.cont:nth-of-type(1){
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    
}
.cont:nth-of-type(5){
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
button{
    width: 100px;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    
    background-color: rgb(28, 28, 255);
    &:hover{
        background-color: rgb(64, 64, 255);
    }
}

